

@{
    ViewData["Title"] = "Transfer Details";
}

<h2>Transfer Details</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <th>Wallet</th>
        <td>@Model.CompanyWallet?.WalletName (@Model.CompanyWallet?.WalletNumber)</td>
    </tr>

    <tr>
        <th>Amount</th>
        <td>@Model.TransferAmount</td>
    </tr>

    <tr>
        <th>Fee</th>
        <td>@Model.Fee</td>
    </tr>
                    </div>

                    <!-- Step 2: Verified -->
                    <div class="text-center" style="z-index: 2;">
                        @if (Model.Status == Wevo_Pay_Project.Enums.TransferStatus.Verified ||
                                                Model.Status == Wevo_Pay_Project.Enums.TransferStatus.Completed)
                        {
                            <div class="rounded-circle mx-auto mb-2 d-flex align-items-center justify-content-center"
                                 style="width: 38px; height: 38px; background-color: var(--color-success); color: white;">
                                <i class="bi bi-check-lg"></i>
                            </div>
                            <div style="font-size: 13px; color: var(--color-gray-700);">Verified</div>
                        }
                        else
                        {
                            <div class="rounded-circle mx-auto mb-2 d-flex align-items-center justify-content-center"
                                 style="width: 38px; height: 38px; background-color: var(--color-gray-200); color: var(--color-gray-500);">
                                <i class="bi bi-clock"></i>
                            </div>
                            <div style="font-size: 13px; color: var(--color-gray-500);">Verified</div>
                        }
                    </div>


    <tr>
        <th>Notes</th>
        <td>@Model.Notes</td>
    </tr>

    <tr>
        <th>Status</th>
        <td>@Model.Status</td>
    </tr>

    <tr>
        <th>Created At</th>
        <td>@Model.CreatedAt</td>
    </tr>

    <tr>
        <th>Verified At</th>
        <td>@(Model.VerifiedAt?.ToString() ?? "-")</td>
    </tr>

    <tr>
        <th>Completed At</th>
        <td>@(Model.CompletedAt?.ToString() ?? "-")</td>
    </tr>

    <tr>
        <th>Rejected At</th>
        <td>@(Model.RejectedAt?.ToString() ?? "-")</td>
    </tr>

</table>

<a asp-action="MyTransfers" class="btn btn-secondary">Back</a>
